{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login/reset.css' %}">
    <link rel="shortcut icon" href="{% static 'login/favicon.ico' %}" type="image/x-icon">
    <title>Esqueci a senha</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
    </style>
  </head>
  <body>
    <main>
      <div class="div1">
        <div class="divmeio">
          <div class="divcaixa">
            <h2>Solicitação enviada!</h2>
            <p>Confira sua caixa de entrada para o link de redefinição de senha.</p>            
        </div>
      </div>
    </main>
  </body>
</html>
