* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f3f4f6;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #333;
}

.div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.divmeio {
  background-image: url("{% static 'login/back.jpg' %}");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divcaixa {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #002549;
  width: 80vw;
  max-width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.divcaixa:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.4);
}

h2 {
  color: #002549;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

p {
  color: #555;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form button {
  width: 90%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

form button {
  background-color: #002549;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #005377;
}

form input {
  background-color: #f1f1f1;
}

form input:focus {
  border-color: #005377;
  outline: none;
}

a {
  color: #005377;
  text-decoration: none;
  margin-top: 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #002549;
  text-decoration: underline;
}

ul{
  display: none !important;
}

@media screen and (max-width: 1020px) {
  .divcaixa {
    width: 90vw;
    height: auto;
    padding: 15px;
  }

  h2 {
    font-size: 1.3rem;
  }

  p, form {
    font-size: 0.9rem;
  }
}
