{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
    <link rel="shortcut icon" href="{% static 'login/favicon.ico' %}" type="image/x-icon">
    <title>Login</title>
  </head>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
  </style>
  <body>
    <main>
      <div class="div1">
        <div class="div1-1">
          <div class="div1-1-1">
            <p class="pergunta">Primeiro acesso?</p>
            <div class="div1-1-1-1">
              <p class="buttoncad">
                <a
                  href="{% url 'cadastro' %}"
                  style="color: white; text-decoration: none"
                  >Criar Conta</a
                >
              </p>
              <p class="buttoncad">
                <a
                  href="{% url 'saiba' %}"
                  style="color: white; text-decoration: none"
                  >Saiba Mais</a
                >
              </p>
            </div>
          </div>
          <div class="div1-1-2">
            <div class="div1-1-2-1" id="login">
              <p></p>
              <p class="login">Login</p>
              <p></p>
            </div>
            <form action="{% url 'login' %}" method="post">
              {% csrf_token %}
              <div class="div1-1-2-2">
                <input
                  type="username"
                  name="username"
                  id="username"
                  placeholder="Usuário"
                  class="text"
                  required
                />
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Senha"
                  class="text"
                  required
                />
              </div>
              <div class="div1-1-2-1" id="divsenha">
                <label id="lembre"
                  ><input
                    type="checkbox"
                    id="remember"
                    name="remember"
                    class="check"
                    style="cursor: pointer"
                    checked
                  />Lembre-se de mim</label
                >
                <a class="esqueci" style="cursor: pointer" href="{% url 'password_reset' %}">Esqueci minha senha</a>
              </div>
              <div class="contamobile">
                <a
                  class="buttoncad"
                  href="{% url 'cadastro' %}"
                  id="loginmobile"
                  style="width: 110px"
                  >Criar Conta</a
                >
              </div>
              <div class="div1-1-2-1" id="fazer">
                <p></p>
                <input
                  type="submit"
                  value="Logar"
                  class="buttonlogin"
                  style="margin-top: 15px; outline: none"
                />
                <p></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        var it = "{{ it }}";
        if (it == "True"){
          alert("Senha ou nome invalido")
      }
      });
    </script>
  </body>
</html>
