* {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#email{
  position: absolute;
  bottom: 20px;
}

header{
  display: none;
}

header a{
	color: white;
	font-size: 2em;
	text-align: center;
}

.logo img{
  width: 70%;
  display: flex;
  margin: 0px auto;
}

/*barra lateral*/
.sidebar {
  width: 15.5vw;
  background-color: #002549;
  padding: 20px;
  padding-top: 0px;
}

.logo{
  height: 22vh;
}

/*onde ta escrito o nome da pagina*/
.logo img{
  width: 70%;
  display: flex;
  margin: 0px auto;
}

nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 74vh;
}

/*lista da barra lateral*/
nav ul {
  list-style: none;
  padding: 0;
}

/*lista da barra lateral*/
nav ul li {
  margin: 15px 0;
}

.navegacao {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: white;
  font-size: 1vw;
  border: 2px #00458a solid;
  background-color: #002549;
  border-radius: 12px;
  width: 15vw;
  height: 4.5vh;
  text-align: start;
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.navegacao:hover {
  cursor: pointer;
  background-color: #00458a;
}

a {
  width: 100%;
  height: 110%;
  text-decoration: none;
  display: flex;
  align-items: center;
}

body {
	font-weight: bold;
	font-style: normal;
	margin: 0;
	background-color: #182E5A;
	color: white;
}

.container{
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84.5vw;
}
.topo{
  margin: 20px 0px;
  height: 10%;
}

.topo h1{
  font-size: 1.7em;
}

.navegacaoInt{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 90%;
}

.integrante{
  border: solid #00458a;
  background-color: #002549;
  border-radius: 1vw;
  width: 20vw;
  height: 5vh;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease-in-out;
}

.integrante:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
  background-color: #00458a;
  cursor: pointer;
}

.direita{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-right: 15vw;
  border: 3px solid #00458a;
  background-color: #002549;
  border-radius: 2vw;
  width: 25vw;
  height: 75vh;
}
.esquerda{
  display: flex;
  text-align: center;
  flex-direction: column;
  border: 3px solid #00458a;
  background-color: #002549;
  border-radius: 2vw;
  width: 25vw;
  height: 75vh;
}

@media screen and (max-width: 1020px){
  header {
		height: 10vh;
		background-color: #002549;
		display: block;
		padding-left: 2vw;
	}

  aside{
    display: none;
  }
  .logo{
    height: 10vh;
  }
  main{
    width: 100vw;
    flex-direction: column;
  }
  .direita{
    width: 68vw;
    margin-right: 0px;
    margin-top: 5vh;
    height: 65vh;
  }

  .esquerda{
    margin: 5vh 0px;
    width: 68vw;
    height: 65vh;
  }

  .topo h1{
    font-size: 1.5em;
  }

  .integrante{
    width: 40vw;
    height: 5vh;
    font-size: 2.5vh;
  }

  #email{
    position: static;
    margin-bottom: 5vh;
  }
}