{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet" href="{% static 'scan/style.css' %}">
    <link rel="shortcut icon" href="{% static 'scan/favicon.ico' %}" type="image/x-icon">
	<title>Integre</title>
</head>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
</style>

<body style="position: relative;">
    <div id="qrcodez">
        <div id="reader"></div>
    </div>
	<div class="container">
		<!-- barra lateral -->
		<aside class="sidebar" id="nav">
			<div class="logo"><a href="{% url 'reader:mecanica' %}"><img src="{% static 'scan/icon.png' %}"></a></div>
			<nav>
				<div class="part1" id="part1">
					<ul>
                        {% if role == True %}
						<li class="navegacao"> <a style=color:white href="{% url 'reader:add' %}"> &ensp; <span
								class="material-symbols-outlined">add</span> &ensp; Adicionar Item </a></li>
                        {% endif %}
						<li class="navegacao"> <a style=color:white href="{% url 'reader:mecanica' %}"> &ensp; <span
								class="material-symbols-outlined">manufacturing</span> &ensp; Mecânica </a></li>
						<li class="navegacao"> <a style=color:white href="{% url 'reader:eletrica' %}"> &ensp; <span
								class="material-symbols-outlined">bolt</span> &ensp; Elétrica </a></li>
						<li class="navegacao"> <a style=color:white href="{% url 'reader:eletronica' %}"> &ensp; <span
								class="material-symbols-outlined">memory</span> &ensp; Eletrônica </a> </li>
				</div>
				</ul>
				
				<div class="part2" id="part2">
					<ul>
                        {% if role == True %}
						<li class="navegacao" style="margin-top: -7vh;"> <a style=color:white href="{% url 'admin:index' %}"> &ensp; <span
								class="material-symbols-outlined">admin_panel_settings</span> &ensp; Admin </a></li>
                        {% endif %}
                        <li class="navegacao"> <a style=color:white href="{% url 'reader:time' %}"> &ensp; <span
                            class="material-symbols-outlined">group</span> &ensp; Time </a></li>
						<li class="navegacao"> <a style=color:white href="{% url 'reader:reset' tabela %}"> &ensp; <span
								class="material-symbols-outlined">restart_alt</span> &ensp; Resetar </a></li>
						<li class="navegacao"> <a style=color:white href="{% url 'reader:logout' %}"> &ensp; <span
								class="material-symbols-outlined">logout</span> &ensp; Sair </a></li>
				</div>
				</ul>
			</nav>
		</aside>
		
		<main class="main-content" style="display: flex; justify-content: center; align-items: center;">
			<div style="background-color: #002549; width: 30vw; height: 80vh; display: flex; align-items: center; border: 5px solid #00458a; border-radius: 20px;">
				<form action="{% url 'reader:upload_file' %}" method="post" enctype="multipart/form-data" style="display: flex; justify-content: center; align-items: center; flex-direction: column; width: 100%;">
					{% csrf_token %}
					<label for="table">Escolha a tabela:</label>
					<select name="table" id="table" required>
						<option value="mecanica">Mecânica</option>
						<option value="eletrica">Elétrica</option>
						<option value="eletronica">Eletrônica</option>
					</select><br><br>
					<label for="file">Selecione o arquivo Excel:</label>
					<input type="file" name="file" id="file" accept=".xlsx" required><br><br>
					<button type="submit">Enviar</button>
				</form>
			</div>
		</main>
	</div>  
</body>
</html>